node_modules/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.vscode/
.idea/
build/
dist/
target/
ntuser.*
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
Documents/
Desktop/
Pictures/
